body {
    font-family: roboto;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}




.header-image {
    height: 200px;
    width: 500px;
    background-color: black;
}

.content-image {
    height: 150px;
    width: 150px;
    background-color: red;
}

/* .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

ul {
    display: flex;
    gap: 30px;
}

h1 {
    margin: 0;
    padding: 0;
}


.header {
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.header-bottom {
    background-color: #1f2937;
    color: #f9faf8;
    padding-left: 100px;
    padding-right: 100px;
    height: 400px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-bottom-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.header-bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content {
    display: flex;
    flex-direction: column;
}

.headline {
    text-align: center;
}

.cards {
    height: 400px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.card {
    height: 300px;
    width: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.center-message {
    height: 400px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-message-author {
    text-align: end;
}

.signup-message {
    height: 400px;
}


.footer {
    background-color: #1f2937;
    color: #e5e7eb;
}